.contact-form {
    margin-bottom: 60px;
}
    .contact-form .container {
        max-width: 1100px;
    }
    .contact-form h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .contact-form form {
        display: block;
        gap:30px;
    }
        .contact-form form input {
            width: 100%;
            padding: 18px 20px;
            border: 1px solid var(--color-light-gray);
        }
        .contact-form .textarea {
            grid-column: 1 / -1;

        }
        .contact-form form textarea {
            width: 100%;
            padding: 18px 20px;
            border: 1px solid var(--color-light-gray);
            height: 140px;
            resize: none;
        }
        .contact-form form .error {
            margin-top: 5px;
            /* color: var(--color-theme); */
            border: 1px solid var(--color-theme);
        }
        .contact-form form .errorMessage {
            margin-top: 5px;
            color: var(--color-theme);
            font-size: 0.8em;
        }
       

.btn-theme {
    position: relative;
    background-color: var(--color-theme);
    color: var(--color-white);
    border:none;
    padding: 20px 50px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
} 
    .btn-theme:hover {
        color: var(--color-white);
        background-color: var(--color-dark);
        text-decoration: none;
    }

    .btn-theme .corner-topLeft {
        position: absolute;
        height: 20px;
        width: 20px;
        top:10px;
        left:10px;
        border-left: 1px solid var(--color-white);
        border-top: 1px solid var(--color-white);
    }
    .btn-theme .corner-bottomRight {
        position: absolute;
        height: 20px;
        width: 20px;
        bottom:10px;
        right:10px;
        border-right: 1px solid var(--color-white);
        border-bottom: 1px solid var(--color-white);
    }

@media (min-width: 1200px) { 
    .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}