.mainmenu {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"logo menuicons"
                        "menulinks menulinks";
}
    .mainmenu .logo {
        grid-area: "logo";
        font-size: 35px;
        font-weight: 700;
        color: var(--color-dark);
        text-decoration: none;

    }
        .mainmenu .logo:hover {
            font-size: 35px;
            font-weight: 700;
            color: var(--color-dark);
            text-decoration: none;
        }
    .mainmenu .menu-links {
        grid-area: menulinks;
        display: none;
        height: 100%;
        overflow: hidden;
        font-weight: 400;
    }
        .mainmenu .menu-links .menu-link  {
            color: var(--color-dark);
            font-weight: 500;
            text-decoration: none;
            margin: 5px 15px;
        
        }
            .mainmenu .menu-links .menu-link:hover {
                color: var(--color-theme);
                text-decoration: none; 
            }
    .mainmenu .menu-links .active {
        color: var(--color-theme);
        text-decoration: none;
    }
    .mainmenu .menu-icons {
        grid-area: menuicons;
        display: flex;
        justify-content: flex-end;
        align-items: center;     
    }
        .mainmenu .menu-icons .menu-icon {
            background-color: var(--color-white);
            color:var(--color-dark);
            width: 36px;
            height:36px;
            margin-left: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 6px 4px var(--color-shadow);
            position: relative;
            transition: all 0.2s ease-in-out;
       
        }
            .mainmenu .menu-icons .menu-icon:hover {
                color: var(--color-white);
                background-color: var(--color-dark);
                box-shadow: 0 0 6px 4px var(--color-shadow);
                text-decoration: none;
                transition: all 0.2s ease-in-out;
            }
        .mainmenu .menu-icons .menu-icon .active {
            color: var(--color-white);
            background-color: var(--color-dark);
            box-shadow: 0 0 6px 4px var(--color-shadow);
            text-decoration: none;
        }
        .mainmenu .menu-icons .btn-menu-icon {
            color: var(--color-white);
            background-color: var(--color-dark);
            border: none;
            outline: none;

        }

@media (min-width: 1200px) {
.mainmenu {
    display: frid;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-template-areas:"logo menulinks menuicons";
    padding-top: 20px;
    padding-bottom: 20px;
}
    .mainmenu .menu-links {
        grid-area: menulinks;
        font-weight: 500;
        display: flex;
        height: 100%;
    }
    .mainmenu .menu-links .menu-link  {
        color: var(--color-dark);
        font-weight: 500;
        text-decoration: none;
        margin-left: 15px;
        margin-right: 15px;
    }
}
        
        
 @media (min-width: 1600px) {
    .mainmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
            .mainmenu .menu-links .menu-link  {
                color: var(--color-dark);
                font-weight: 500;
                text-decoration: none;
                margin-left: 15px;
                margin-right: 15px;
            }
    
        .mainmenu .menu-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
        }
        
}  